.details{

    &__apply-btn{
        text-decoration: none;
        color: white;
        padding: 10px 50px;
        border-radius: 50px;
        background-color: blueviolet;
        margin-top: 20px;
    }

    &__header{
        padding: 40px 0;
        border-bottom: 0.5px solid gray;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    &__job-meta-data{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__bottom{
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    &__description{
        text-align: left;
        width: calc(75% - 20px);
    }

    &__job-openings{
        width: 25%;
        padding: 20px;
        background-color: #F0F0F0;
        border: 0.5px solid gray;
        height: fit-content;
        
        &__jobs{
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            text-align: left;
            gap: 40px;

        }
    }
}