.details{

    &__bottom{
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    &__description{
        text-align: left;
        width: calc(75% - 20px);
    }

    &__job-openings{
        display: flex;
        width: 25%;
        padding: 20px;
        background-color: #F0F0F0;
        border: 0.5px solid gray;
        height: fit-content
    }
}