.list-item-container{
    h6{
        text-align: left;
    }
    .meta-data{
        display: flex;
        gap: 10px;
        align-items: center;

        span{
            display: flex;
            align-items: center;
        }
    }
}