.list-item-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    h6{
        text-align: left;
    }
    .meta-data{
        display: flex;
        gap: 10px;
        align-items: center;

        span{
            display: flex;
            align-items: center;
        }
    }

    .btn-section{
        display: flex;
        align-items: center;
        gap: 10px;
        a{
            text-decoration: none;
            &.apply-btn{
                padding: 10px 20px;
                border: 1px solid blueviolet;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}